# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
frontend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
frontend/pids
frontend/*.pid
frontend/*.seed
frontend/*.pid.lock


# nyc test coverage
frontend/.nyc_output

# Compiled prod (https://nodejs.org/api/addons.html)
frontend/build/

# Dependency directories
frontend/node_modules/

# Optional npm cache directory
frontend/.npm

# Optional eslint cache
frontend/.eslintcache

# Output of 'npm pack'
frontend/*.tgz


# Next.js build output
frontend/.next


# Serverless directories
frontend/.serverless/
